<!DOCTYPE html>

<html lang="en" >

  <head>

    <meta charset="UTF-8">
    <title>VMCP Login Page</title>
        <link rel="stylesheet" href="/static/login/css/style.css">
        
  </head>

  <body>

    <div class="login-page">
      <div class="form">
        <div class="card-header">VMCP</div>
        <div class="card-header">VOIP Monitoring Control Panel</div>
        <p class="t0"></p>
          <form class="login-form" action="/auth" method="POST">
            {% csrf_token %}
            <input type="text" name="username" placeholder="username"/>
            <input type="password" name="password" placeholder="password"/>
            <button>login</button>
          </form>
        </div>
      </div>
    </div>  

  </body>
</html>
